---
---

/*
 * Colors
 * ------
 */

$color-fg: white;
$color-bg: #222021;
$color-theme: {{ site.color }};

/*
 * Fonts
 * -----
 */


$font: 'Source Code Pro', monospace;

/*
 * Style
 * -----
 */

body {
  background-color: $color-bg;
  color: $color-fg;
  font-family: $font;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}

table.profile {
  border-spacing: 1.5em 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  h1 {
    border-bottom: 5px solid $color-theme;
    padding-bottom: 0.25em;
  }
}

table.header {
  border-collapse: collapse;
  border-spacing: 0 1em;
  left: 50%;
  margin-top: 1em;
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
  width: 60%;
}

tr.header {
  border-bottom: 5px solid $color-theme;
  text-align: center;
}

tr.footer {
  color: $color-theme;
  text-align: center;
  width: 75%;
  td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

h1 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  &::before {
    content: "\0000a0└──\0000a0";
  }
}

h5 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  &::before {
    content: "\0000a0\0000a0\0000a0└──\0000a0";
  }
}

tr.header td {
  padding-bottom: 1em;
}

tr.header p {
  font-size: 1.5em;
}

td.content {
  a,
  a:hover,
  a:visited {
    color: $color-theme;
  }
  a:hover {
    color: $color-fg;
    text-decoration: none;
  }
  img {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    &:not(.seamless) {
      border: 3px solid $color-theme;
    }
  }
  p {
      padding-left: 1em;
      padding-right: 1em;
  }
}

.hidden {
    display: none;
}

a,
a:hover,
a:visited {
  color: $color-fg;
  text-decoration: none;
}

a:hover {
  color: $color-theme;
  text-decoration: none;
}

blockquote {
  border-left: 5px solid $color-theme;
  font-size: 1em;
  margin-left: 2.0em;
  margin-right: 2.0em;
  padding-left: 1em;
  padding-right: 1em;
}

code {
  border-bottom: 1px dashed $color-theme;
  font-family: $font;
}

pre {
  border-bottom: 1px dashed $color-theme;
  border-left: 5px solid $color-theme;
  border-right: 1px dashed $color-theme;
  border-top: 1px dashed $color-theme;
  font-size: 1em;
  font-weight: 300;
  margin-left: 2.0em;
  margin-right: 2.0em;
  padding: 1em;
  code {
    border-bottom: none;
    border-top: none;
  }
}

span.lead,
span.lead a {
  color: $color-theme;
}

span.tail {
  color: $color-theme;
  font-weight: 300;
}

table.post_list {
  border-collapse: collapse;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  td {
    padding: 0.25em 1em 0.25em 1em;
    &.post_link {
      color: $color-fg;
      font-weight: normal;
      text-align: right;
    }
    &.post_date {
      border-left: 5px solid $color-theme;
      font-weight: bold;
      text-align: center;
      vertical-align: left;
    }
  }
}

hr {
  border: 1px solid $color-theme;
  color: $color-theme;
  width: 85%;
}

ul,
li {
  margin-left: 2.0em;
  margin-right: 2.0em;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  list-style-type: square;
  li::marker {
    color: $color-theme;
  }
}

div.imgs {
  text-align: center;
  img {
    display: inline !important;
    margin:  0 1em 0 1em !important;
  }
}

strong {
  font-weight: bold;
}
