---
layout: nil
---
/*
 * CurtisFree.com
 * style.css
 * Copyright 2007-{{ site.time | date:'%Y' }} Curtis Free. All rights reserved.
 */

/*
 * Colors
 * ------
 * black       (#000000)
 * white       (#FFFFFF)
 * olivedrab   (#6B8E23)
 *
 * Thanks to http://www.w3schools.com/html/html_colornames.asp!
 * Inspired by claimID (https://claimid.com).
 */

body {
    background-color: #6B8E23;
    color:            #000000;
    font-family:      'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
    font-size:        small;
    padding: 0;
}

table#layout {
    border-collapse: collapse;
    margin:          0;
    padding:         0;
    width:           100%;
}

table#layout td#main {
    padding-left:   1.25em;
    padding-right:  1.25em;
    padding-top:    0;
    padding-bottom: 0;
    vertical-align: top;
}

table#layout td#side {
    padding-bottom: 2.5em;
    padding-left:   0.5em;
    padding-right:  1em;
    padding-top:    2.75em;
    vertical-align: top;
}

div.container {
    background-color: #FFFFFF;
    border:           medium solid #000000;
    color:            #000000;
    overflow:         hidden;
}

div.container#masthead {
    margin-bottom: 0.5em;
    margin-top:    1.25em;
    padding-left:  1.5em;
    padding-right: 3em;
    text-align:    center;
}

div.container#masthead td#avatar {
    width: 13%;
}

div.container#masthead td#header {
    width: 40%;
}

div.container#masthead td#tagline {
    width: 47%;
}

div.container#masthead td#tagline h3 {
    margin-left:  auto;
    margin-right: auto;
}

div.container#nav table {
    text-align:   left;
    width:        90%;
    margin-left:  auto;
    margin-right: auto;
}

div.container#nav table td {
    vertical-align: middle;
    text-align:     center;
}

div.container#nav img {
    vertical-align: middle;
    padding:        0.25em;
    margin-right:   0.25em;
}

div.container#nav a {
    background-color: #FFFFFF !important;
    color:            #000000 !important;
}

div.container#nav a:hover {
    background-color: #FFFFFF !important;
    color:            #6B8E23 !important;
}

div.container#pgbody {
    margin-bottom: 0.5em;
    margin-top:    0.5em;
    padding-left:  1em;
    padding-right: 1em;
}

div.container#lower {
    margin-bottom: 1.25em;
    margin-top:    0.5em;
    padding:       0.25em;
}

a {
    background-color: #FFFFFF;
    color:            #6B8E23;
    text-decoration:  none;
}

a:hover {
    background-color: #FFFFFF;
    color:            #000000;
    text-decoration:  none;
}

a.hidden, #blog_title a#main_link {
    color: #000000 !important;
}

a.hidden:hover, #blog_title a#main_link:hover {
    color: #6B8E23 !important;
}


#blog_title a#blog_link {
    color: #6B8E23 !important;
}

#blog_title a#blog_link:hover {
    color: #000000 !important;
}

h2 {
    margin-left: 1em;
}

h3 {
    margin-left: 0em;
}

h4.post_meta {
    text-align: right;
}

.post_title a {
    color: black !important;
}

.post_title a:hover {
    color: olivedrab !important;
}

.twtr-ft a {
    background-color: #000000;
}

hr {
    background-color: #000000;
    border:           none;
    color:            #FFFFFF;
    height:           1px;
    margin-left:      2.5em;
    margin-right:     2.0em;
}

img.left {
    float: left;
}

img.right {
    float: right;
}

.post_body img.left {
    margin-bottom: 1em !important;
    margin-left:   2em !important;
    margin-right:  1em !important;
    margin-top:    1em !important;
}

.post_body img.right {
    margin-bottom: 1em !important;
    margin-left:   1em !important;
    margin-right:  2em !important;
    margin-top:    1em !important;
}

img.seamless {
    border: none !important;
}

p {
    margin-bottom: 1.2em;
    margin-left:   2em;
    margin-top:    1.2em;
}

ul,ol {
    margin-left: 2em;
}

pre {
    background-color: #F8F8F8;
    border-left:      medium solid #6B8E23;
    font-size:        medium;
    margin-left:      3.5em;
    padding:          0.5em;
}

.content  img {
    border:        medium solid #000000;
    display:       block;
    margin-bottom: 1em;
    margin-left:   auto;
    margin-right:  auto;
    margin-top:    1em;
}

h4.post_meta {
    font-size:   smaller;
    font-weight: normal;
    margin-left: 3.5em;
}

code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:    small;
}

div.post_body h4 {
    margin-left: 1em;
}

div.content {
    padding-right: 2em;
}

div#footer {
    text-align: center;
    width:      100%;
}

div.nextlink {
    font-weight:   bold;
    margin-bottom: 1.5em;
    text-align:    center;
}

ul.postlist {
    margin-bottom: 1.5em;
    margin-left:   2em;
}

