
          </div>

          <div class="container" id="lower">
            <div id="footer">&copy; 2007-{{ site.time | date:'%Y' }} Curtis Free. All rights reserved.</div>
          </div>

        </td>

        <td id="side">
          <div id="twitter">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 10,
                interval: 6000,
                width: 250,
                height: 500,
                theme: {
                  shell: {
                    background: '#000000',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#000000',
                    links: '#6a8e23'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: true,
                  live: true,
                  hashtags: true,
                  timestamp: true,
                  avatars: true,
                  behavior: 'all'
                }
              }).render().setUser('curtisafree').start();
            </script>
          </div>
        </td>

      </tr>

    </table>

  </body>

</html>
