    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33041567-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body>
    <header>

      <table>
        <tr>
          <td class="header">
            <h1 id="blog_title" >
              <a id="main_link" href="/">CurtisFree.com</a>
              {% capture section %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
              {% if section == 'blog' %}
              <a id="blog_link" href="/blog/">Blog</a>
              {% endif %}
            </h1>
          </td>
          <td><a class="{% if section == 'about' %}current{% endif %}" href="/about/">About</a></td>
          <td><a class="{% if section == 'blog' %}current{% endif %}" href="/blog/">Blog</a></td>
          <td><a class="" href="{{ site.github-url }}/config">Config</a></td>
          <td><a class="" href="{{ site.github-url }}/CurtisFree.com/wiki">DB</a></td>
          <td><a class="{% if section == 'projects' %}current{% endif %}" href="/projects/">Projects</a></td>
          <td><a class="" href="{{ site.github-url }}/scripts">Scripts</a></td>
          <td><a class="" href="{{ site.wishlist-url }}">Wishlist</a></td>
          <td id="tagline">
            I'm a geek, and I have
            <a class="hidden" href="http://curtisandrebecca.com/">the most wonderful wife in the anywhere</a>.
          </td>
          <td>
            <a href="{{ site.twitter-url }}"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="{{ site.github-url }}"><i class="fa fa-github fa-lg"></i></a>
            <a href="{{ site.instagram-url }}"><i class="fa fa-instagram fa-lg"></i></a>
          </td>
        </tr>
      </table>
    </header>

    <div class="container" id="pgbody">
