
    <!--Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />

    <!-- Style -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Icon -->
    <link rel="icon" type="image/png" href="/imgs/icon.png" />

    <!-- Verification -->
    <meta name="google-site-verification" content="{{ site.google-verification-key }}" />

    <!-- Third Parties -->

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap" />
{% if page.error %}
    <!-- Error Page (No Canonicalization) -->
{% else %}
    <!-- Canonicalization -->
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove_first:'index.html' }}" />
{% endif %}
  </head>

  <body>

    <div id="me">
      {% for profile in site.me-profiles %}
        <a rel="me" href="{{ profile.url }}">{{ profile.name }}</a>
      {% endfor %}
    </div>

    <table class="{% if page.title and page.title != '' %}header{% else %}profile{% endif %}">
      <tr class="header">
        <td><a href="/"><h1>Curtis&nbsp;Free</h1></a></td>
        <td>
          <h2><a href="http://curtisandrebecca.com">Husband</a>&nbsp;&middot;&nbsp;<a href="http://matthewdrakefree.com">Dad</a>&nbsp;&middot;&nbsp;Geek</h2>
          <p>
            <a href="/about/">About</a>
            |
            <a href="/blog/">Blog</a>
            |
            <a href="{{ site.github-url }}">Code</a>
          </p>
        </td>
      </tr>
{% if page.title and page.title != '' %}
      <tr>
        <td class="content" colspan="2">
{% endif %}
