  </head>

  <body>

    <table class="{% if page.title and page.title != '' %}header{% else %}profile{% endif %}">
      <tr class="header">
        <td><a href="/"><h1>Curtis&nbsp;Free</h1></a></td>
        <td>
          <h2><a href="https://curtisandrebecca.com">Husband</a>&nbsp;&middot;&nbsp;<a href="https://matthewdrakefree.com">Dad</a>&nbsp;&middot;&nbsp;Geek</h2>
          <p>
            <a href="/about/">About</a>
            |
            <a href="/blog/">Blog</a>
            |
            <a href="{{ site.db-url }}">DB</a>
            |
            <a href="{{ site.twitter-url }}"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="{{ site.github-url }}"><i class="fa fa-github fa-lg"></i></a>
            <a href="{{ site.instagram-url }}"><i class="fa fa-instagram fa-lg"></i></a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="content" colspan="2">
