            </h1>
          </td>
          <td id="tagline">
            <h3>
              I'm a geek, and I have
              <a class="hidden" href="http://curtisandrebecca.com">the most wonderful wife in the anywhere</a>.
            </h3>
          </td>
        </tr>
      </table>

    </div>

    <div class="container" id="nav">
      <table>
        <tr>
          <td width="14%"><a href="/about"><img alt="about" src="/imgs/icons/about.png" />About</a></td>
          <td width="14%"><a href="/blog"><img alt="blog" src="/imgs/icons/blog.png" />Blog</a></td>
          <td width="14%"><a href="/config"><img alt="config" src="/imgs/icons/config.png" />Config</a></td>
          <td width="14%"><a href="/projects"><img alt="projects" src="/imgs/icons/projects.png" />Projects</a></td>
          <td width="14%"><a href="/scripts"><img alt="scripts" src="/imgs/icons/scripts.png" />Scripts</a></td>
          <td width="14%"><a href="/stuff"><img alt="stuff" src="/imgs/icons/stuff.png" />Stuff</a></td>
          <td width="14%"><a href="/wishlist"><img alt="wishlist" src="/imgs/icons/wishlist.png" />Wishlist</a></td>
        </tr>
      </table>
    </div>

    <div class="container" id="pgbody">
