    <div id="header">

      <table>
        <tr>
          <td class="header">
            <h1 id="blog_title" >
              <a id="main_link" href="/">CurtisFree.com</a>
              {% capture section %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
              {% if section == 'blog' %}
              <a id="blog_link" href="/blog/">Blog</a>
              {% endif %}
            </h1>
          </td>
          <td><a class="{% if page.path == 'about/index.md' %}current{% endif %}" href="/about/">About</a></td>
          <td><a class="{% if page.path == 'blog/index.md' %}current{% endif %}" href="/blog/">Blog</a></td>
          <td><a class="" href="{{ site.github-url }}/config">Config</a></td>
          <td><a class="" href="{{ site.github-url }}/CurtisFree.com/wiki">DB</a></td>
          <td><a class="{% if page.path == 'projects/index.md' %}current{% endif %}" href="/projects/">Projects</a></td>
          <td><a class="" href="{{ site.github-url }}/scripts">Scripts</a></td>
          <td><a class="{% if page.path == 'stuff/index.md' %}current{% endif %}" href="/stuff/">Stuff</a></td>
          <td><a class="" href="{{ site.wishlist-url }}">Wishlist</a></td>
          <td id="tagline">
            I'm a geek, and I have
            <a class="hidden" href="http://curtisandrebecca.com/">the most wonderful wife in the anywhere</a>.
          </td>
        </tr>
      </table>
    </div>

    <div class="container" id="pgbody">
