    <div id="header">

      <table>
        <tr>
          <td class="header">
            <h1 id="blog_title" >
              <a id="main_link" href="/">CurtisFree.com</a>
              {% if page.layout == 'blog' or page.layout == 'post' %}
              <a id="blog_link" href="/blog">Blog</a>
              {% endif %}
            </h1>
          </td>
          <td><a class="{% if page.path == '/about' %}current{% endif %}" href="/about">About</a></td>
          <td><a class="{% if page.path == '/blog' %}current{% endif %}" href="/blog">Blog</a></td>
          <td><a class="" href="/config">Config</a></td>
          <td><a class="" href="/db">DB</a></td>
          <td><a class="{% if page.path == '/projects' %}current{% endif %}" href="/projects">Projects</a></td>
          <td><a class="" href="/scripts">Scripts</a></td>
          <td><a class="{% if page.path == '/stuff' %}current{% endif %}" href="/stuff">Stuff</a></td>
          <td><a class="" href="/wishlist">Wishlist</a></td>
          <td id="tagline">
            I'm a geek, and I have
            <a class="hidden" href="http://curtisandrebecca.com">the most wonderful wife in the anywhere</a>.
          </td>
        </tr>
      </table>
    </div>

    <div class="container" id="pgbody">
