{% include doctype.html %}
    <title>CurtisFree.com Blog &rarr; {{ page.title }}</title>
{% include to_canon.html %}
{% include canon.html %}
{% include to_slink.html %}
{% include to_pgbody.html %}
      <div class="content">

        <h3 class="post_title">{{ page.title }}</h3>

        <div class="post_body">
          {{ content }}
        </div>

        <h4 class="post_meta">
          [ {{ page.date | date:'%d %b %Y @ %I:%M %p %Z' }} ]
          {% if page.tags.size > 0 %}
          [ {{ page.tags | join:' | ' }} ]
          {% endif %}
          [ <a href="{{ site.url }}{{ page.url }}">Permalink</a> ]
          [ <a href="mailto:{{ site.email }}?subject=Blog ({{ page.id | remove_first:'/blog/' }})">?</a> ]
        </h4>

      </div>

{% include from_pgbody.html %}
